body {
	padding: 0em;
	margin: 0em;
	background: #fff;
}
body {
	color: #0E2461;
}

header {
	background: #E1E1E2;
}

header, .main {
	padding: 0.5em 0em 0em 0em;
}

.container, nav {
	max-width: 960px;
	margin: 0em auto 0em auto;
	padding: 0px 20px 0px 20px;
	border: 0;
	font-size: 100%;
}			

nav ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 1em 0em 0em 0em;
}

nav ul li {
	display: inline-block;
	margin: 0px 3px 0px 0px;
	background:#31A3E4;
}

nav ul li.active {
	background:white;
}

nav ul li a {
	text-decoration: none;
	color: white;
	padding: 0.5em 0.5em 0.5em 0.5em;
	display: inline-block;
}

nav ul li.active a {
	color: #0E2461;
}
