body {
	padding: 0em;
	margin: 0em;
	background: #fff;
}
body {
	color: #0E2461;
}

header {
	background: #E1E1E2;
}

header, .main {
	padding: 0.5em 0em 0em 0em;
}

.recorder {
	float: right;
}

.container, nav {
	max-width: 960px;
	margin: 0em auto 0em auto;
	padding: 0px 20px 0px 20px;
	border: 0;
	font-size: 100%;
}			

nav ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 1em 0em 0em 0em;
}

nav ul li {
	display: inline-block;
	margin: 0px 3px 0px 0px;
	background:#31A3E4;
}

nav ul li.active {
	background:white;
}

nav ul li a {
	text-decoration: none;
	color: white;
	padding: 0.5em 0.5em 0.5em 0.5em;
	display: inline-block;
}

nav ul li.active a {
	color: #0E2461;
}

.proceed {
	background: #005F00;
}

.cancel {
	background: #5F0000;
}

.deleted {
	display:none;
}

.timesheet, .timeQuery {
	border-spacing: 0px;
	margin: 1em 0em;
}

.time {
	width: 5em;
}

.timesheet, .description, /* this contradiction absorbs all spare space from other cols */
.timeQuery { 
	width: 30em;
}

.timesheet button, .timeQuery button {
	margin: 1px;
}

.timesheet th, .timeQuery th, .timeQuery tfoot td {
	text-align: left;
	font-weight: bold;
	background: none;
}

.timesheet td {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.timesheet input,
.timeQuery td {
	background: #E1E1E2;
	color: #0E2461;
	border: 0px;
	padding: 3px;
	margin: 1px;
}

.timeQuery td {
	border: 1px solid white;
}

.timesheet .localChanges input {
	background: #D0FFD0;
}
.ng-invalid,
.timesheet input.ng-invalid  {
	background: #FFD0D0;
}

button {
	background: #31A3E4;
	color: white;
	border: 0px solid;
	padding: 0.2em 0.4em 0.25em 0.4em;
	cursor: pointer;
}
button:disabled {
	background: #E1E1E2;
	cursor: auto;
}

.hidden {
	display:none;
}

.queryInputs {
	list-style: none;
	padding: 0px;
}

.queryInputs label {
	display: inline-block;
	width: 10em;
}

.view-frame {
	display:none;
}
.view-frame.active {
	display:block;
}

#task {
	width: 20em;
}

/* jQuery UI */

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
{
	background: #31A3E4;
	border: 0px solid #999999;
	color: white;
}

.ui-state-default.ui-state-active,
.ui-widget-content,
.ui-widget-header,
.ui-widget-header a {
	color: #0E2461;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-left, .ui-corner-bl, .ui-corner-top, .ui-corner-tr, .ui-corner-tl {
	border-radius: 0px;
}

.ui-widget-content, .ui-widget-header {
	border: 0px solid black;
	background: #E1E1E2;
}

