<h2>Welcome to Caesium time-tracking</h2>

<p><strong>Caesium is a time-tracking tool that just gets out of your way</strong>. To start recording time, just hit "start recording" (up in the top-right of the screen). To stop, hit "stop". When you change task, just change the description of your current task - or if you're in a rush just hit 'new task' and update the description later. Caesium records when you start/stop to make totting up how you spend your time trivial.</p>

<p><strong>There's no installation, and no account set-up - you're all set</strong>. Caesium stores all your data on your own device. Caesium is free and always will be - if you want, <a href="https://github.com/tomcarver/caesium">grab the code</a> and host it locally. However we plan to offer paid accounts in future so your team can collaborate and sync data between devices. If you're interested <a href="mailto:tom@sastrugisoftware.com?subject=Caesium%20paid%20accounts&body=Please%20let%20me%20know%20when%20they%27re%20ready%21">Get in touch!</a></p>

<p>Caesium is made by <a href="http://sastrugisoftware.com">Sastrugi Software</a>.</p>

<p><a href="mailto:tom@sastrugisoftware.com?subject=Caesium%20feedback">Send us your feedback/let us know about problems/say thanks!</a></p>
