<button ng-disabled="unsavedChanges()" ng-click="navigateToPrevDay()">&lt;</button>
{{day  | getDateFromDayNumber | date : "mediumDate"}} <!-- TODO calendar -->
<button ng-disabled="unsavedChanges()" ng-click="navigateToNextDay()">&gt;</button>
<button ng-disabled="unsavedChanges()" ng-click="navigateToToday()">Today</button>
<button ng-disabled="unsavedChanges()" ng-click="refresh()">Refresh</button>

<table class="timesheet">
	<thead>
		<tr>
			<th>Start</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="entry in timesheet"
			ng-class="{localChanges: entry.isChanged(), deleted : entry.isDeleted}"> 
			<td><input time ng-model="entry.editStartMins" class="time"></input></td>
			<td><input ng-model="entry.editDescription" class="description"></input></td>
			<td><button ng-click="deleteEntry(entry)" title="Delete entry">X</button></td>
		</tr>
		<tr>
			<td><button ng-click="newEntry()" ng-disabled="!timesheet">+</button></td>
		</tr>
	</tbody>
</table>

<button ng-disabled="!unsavedChanges()" ng-class="{proceed: unsavedChanges()}" ng-click="save()">Save</button>
<button ng-disabled="!unsavedChanges()" ng-class="{cancel: unsavedChanges()}" ng-click="refresh()">Discard Changes</button>

