<ul class="queryInputs">
	<li>
		<label for="from">Between:</label>
		<input id="from" date ng-model="query.from" ng-change="queryChanged()"></input>
	</li>
	<li>
		<label for="to">And:</label>
		<input id="to" date ng-model="query.to" ng-change="queryChanged()"></input>
	</li>
	<li>
		<label for="text">Containing Text:</label>
		<input id="text" ng-model="query.text" ng-change="queryChanged()"></input>
	</li>
	<li>
		<label for="splitbyTask">Split by Task:</label>
		<input id="splitByTask" type="checkbox" ng-model="query.splitByTask" ng-change="queryChanged()"></input>
	</li>
	<li>
		<label for="splitbyDay">Split by Day:</label>
		<input id="splitByDay" type="checkbox" ng-model="query.splitByDay" ng-change="queryChanged()"></input>
	</li>
</ul>
<table class="timeQuery">
	<thead>
		<th ng-class="{hidden: !query.splitByDay}">Date</th>
		<th ng-class="{hidden: !query.splitByTask}">Task</th>
		<th>Time</th>
	</thead>
	<tbody>
		<tr data-ng-repeat="entry in entries">
			<td ng-class="{hidden: !query.splitByDay}">{{entry.dayNumber | formatDayNumber}}</td>
			<td ng-class="{hidden: !query.splitByTask}">{{entry.description}}</td>
			<td>{{entry.duration | formatDuration}}</td>
		</tr>
	</tbody>
</table>
